@use "../../styles/colors";

.input-container {
  display: flex;
  align-items: center;
  background-color: colors.$pley-light-gray;
  padding-left: 16px;
  border: 1px solid colors.$pley-gray-secondary;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  min-height: 50px;
  padding-left: 16px;
}

.input--left-rounded {
  border-radius: 8px 0px 0px 8px;
}

.input--right-rounded {
  border-radius: 0 8px 8px 0;
}