@use '../../styles/_colors.scss';
@import '../../styles/_layout.scss';


.button {
	width: 100%;
	border: none;
	background-color: colors.$pley-green;
	color: colors.$pley-white;
	border-raidus: 8px;
	$padding-y: calc-rem(16);
	$padding-x: calc-rem(140);
	padding: $padding-y $padding-x;
	@include rounded-borders;
}
