@use '../../styles/_colors.scss';

.toast {
  width: 100%;
  border-radius: 8px;
  color: colors.$pley-white;
  padding: 24px;
}

.toast--success {
  background-color: colors.$pley-green;
}

.toast--error {
  background-color: colors.$pley-red;
}
