@use '../../styles/_colors.scss';
@import '../../styles/_layout.scss';
@import '../../styles/_fonts.scss';

.review {
  border-bottom: 1px solid colors.$pley-gray-secondary;
  padding: 0.5rem;
}

.review-user-info {
	margin-top: calc-rem(14);
  @include place-items(flex-start, center, row);
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
  }
}

.star-icon {
	width: 16px;
	height: 12px;
}

.text-review {
	text-align: justify;
	@include secondary-paragraph();
}
