/*
	Colors module

	This file contains the colors used troughout the app
	They can be accessed by import this file into a Sass stylesheet
	eg:
		use "./src/styles/colors"
		.class {
			color: colors.$white
		}
*/

$pley-gray: #F6F6F6;
$pley-another-gray: #BDBDBD;
$pley-black: #000000;
$pley-white: #FFFFFF;
$pley-green: #5DB075;
$pley-red: #FF3B30;



