.review-container {
  margin-bottom: 28px;
}

.user-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.star-icon {
  width: 16px;
	height: 12px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}