.business-card {
  margin-bottom: 24px;
}

.business-card__image {
  width: 100%;
  border-radius: 8px;
  max-height: 240px;
  object-fit: cover;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}
